/*text colors*/
$pale-violet: hsl(276, 100%, 81%);
$moderate-violet: hsl(276, 55%, 52%);
$dark-violet: hsl(271, 15%, 43%);
$grayish-blue: hsl(206, 6%, 79%);
$very-dark-violet: hsl(271, 36%, 24%);
$dark-grayish-violet: hsl(270, 7%, 64%);

/*Gradients*/
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);

/*secondry colors*/
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 20%, 96%);
$very-light-magenta: hsl(289, 100%, 72%);

/*font-size*/
$basic-font-size: 16px;

/*space*/
$free-space: 10px;

/*radiuses*/
$biggest: 30px;
$big: 20px;
$moderate: 15px;
$smallest: 5px;